* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: black;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/*to remove arrow buttons*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*for firefox*/
input[type=number] {
    -moz-appearance: textfield;
}

#root {
    width: 100%;
    height: 100vh;
}

body {
    background-color: black;
}

/*gird*/

.main-grid {
    background-color: black;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.form-container, .view-container {
    display: grid;
    grid-template-columns: 1fr;
}

.form-container {
    grid-template-rows: auto;
    row-gap: 1rem;
}

.form-container > div {
    border-radius: .5rem;
}

.container-style {
    background-color: black;
    margin: .7rem;
    padding: .5rem;
}

.container-style > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #171717;
    padding: 2rem;
    row-gap: 2rem;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
}

.form-header > div > button {
    margin: .5rem;
}

.container-style, form > * {
    color: white;
}

input {
    border: none;
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: .5rem;
}

/*form grid*/
.form-style {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
}

/*grid spans*/
.personal-info > input:nth-child(5) {
    grid-column: span 2;
}

.education-exp > input:first-child, .education-exp > input:nth-child(4) {
    grid-column: span 2;
}

.work-exp > input:nth-child(4), .work-exp > input:nth-child(3) {
    grid-column: span 2;
}

form > button {
    grid-column: span 2;
    margin: .5rem;
}

/*view*/

.view-container {
    max-height: 95vh;
}

.EduCard, .WorkExpCard {
    background-color: black;
    padding: 2rem;
    border-radius: .5rem;
}

.personal-view {
    display: grid;
    grid-template: 3fr 2fr 1fr/ 1fr !important;
    row-gap: 0 !important;
    justify-items: center;
    align-items: center;
    background-color: #252525 !important;
    border-radius: .5rem .5rem 0 0;
}

.personal-view > h1 {
    border-bottom: 2px solid white;
    padding-bottom: .3rem;
    align-self: end;
}

.personal-view > h2 {
    /*border-bottom: 2px solid white;*/
    padding-top: .5rem !important;
    padding-bottom: 1.5rem;
}

.exp-view {
    border-radius: 0 0 .5rem .5rem;
}